---
layout: archive
---
<img src="./assets/images/people_dancing.jpg" alt="people_dancing">

<section class="hero">
    <div class="container">
        <h1>Heartbeat Rentals Dance Machine</h1>
        <p>This dance machine will be the perfect addition to your wedding! <a href="{{ '/contact' | relative_url }}">Rent now</a> and your guests will never stop talking about how amazing your wedding is!</p>
    </div>

<section class="features">
    <div class="container">
      <div class="feature">
        <h3 style="text-decoration: underline;">Absolutely Zero Setup</h3>
        <p>Our machine will be completely setup for you so that you can focus on your special day!</p>
      </div>
      <div class="feature">
        <h3 style="text-decoration: underline;">Wide Selection of Songs</h3>
        <p>With a <a href="{{ '/songs_list' | relative_url }}">wide range of songs</a>, there's something for everyone to dance to.</p>
      </div>
      <div class="feature">
        <h3 style="text-decoration: underline;">Interactive Experience</h3>
        <p>Engage your guests with an interactive and immersive dance experience.</p>
      </div>
    </div>
  </section>

  <section class="call-to-action">
    <div class="container">
      <h1>Ready to Dance?</h1>
      <p><a href="{{ '/contact' | relative_url }}">Contact us today</a> to rent the dance machine and make your event unforgettable.</p>
      
    </div>
  </section>